/* Default styles */
#container {
  display: grid;
  grid-gap: 1px;
  padding: 10px;
  width: 600px; /* Set a fixed width for the container */
  height: 600px; /* Set a fixed height for the container */
  box-sizing: border-box; /* Include padding and border in width and height calculations */
  margin: 0 auto; /* Center the container horizontally */
  background-color: black;
}
  
  .square {
    background-color: white;
    position: relative;
    padding-top: 100%;
  }